<form id="post-comment-form" method="" action="">
    <label for="comment">Comment</label>
    <textarea name="comment" id="post-comment" data-field="text"></textarea> 

    <input type="submit" value="Comment"></input>
</form>
