<p class="add-comment-btn">Add Comment</p>
<form class="post-subcomment-form hidden" method="" action="">
    <label for="comment">Comment</label>
    <textarea name="comment" class="sub-post-comment" data-field="text"></textarea> 

    <input type="submit" value="Comment"></input>
</form>
