<h1 id="brand" data-link="home">Firefly Photography</h1>

<ul>
    <li><a data-link="admin">Admin</a></li>
    <li><a data-link="about">About</a></li>
    <li><a data-link="gallery">Gallery</a></li>
    <li><a data-link="posts">Posts</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
