<h1 id="brand" data-link="home">MJODEV</h1>

<ul>
    <li data-link="admin"><a data-link="admin">Admin</a></li>
    <li data-link="about"><a data-link="about">About</a></li>
    <li data-link="posts"><a data-link="posts">Posts</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
