<h2 class="post-title">{{title}} <span>(read more)</span></h2>
<p>{{{description}}}</p>

{{#if isAdmin}}
    <button class="delete-post">Delete Post</button>
    <button class="update-post">Update Post</button>
{{/if}}

