<form class="portfolio-images-form" method="" action="">
    <input type="file" name="files[]" class="fileupload" multiple></input>
    <div class="uploading-files"></div>
</form>

<div class="portfolio-images-collection"></div>
