<button class="add-portfolio-images">Add Images</button>

<form class="portfolio-images-form hidden" method="" action="">
    <input type="file" name="files[]" class="fileupload" data-url="/api/portfolios/images" multiple></input>
    <div class="uploading-files"></div>
</form>

<div class="portfolio-images-collection"></div>
