<button class="add-portfolio-images">Add Images</button>

<form class="portfolio-images-form hidden" method="" action="">
    <h1>hidden form</h1>
</form>

<div class="portfolio-images-collection"></div>
