<h2>New Portfolio</h2>

<form id="newPortfolioForm" method="POST" action="/api/portfolios">
    
    <label for="portfolio-name">Portfolio Name</label> 
    <input type="text" name="name" id="portfolio-name" data-field="name"></input>  

    <input type="submit" value="Add Portfolio"></input>  
</form>


