<form method="GET" action="/api/sessions/login">
    <label for="email">Email</label>
    <input type="text" name="input" id="login-input" data-field="email"></input>

    <label for="password">Password</label>
    <input type="password" name="password" id="login-password" data-field="password"></input>

    <input type="submit" value="Login"></input>
</form>
