<form method="POST" action="/login">
    <label for="login-email">Email</label>
    <input type="text" name="email" id="login-email" data-field="email"></input>

    <label for="login-password">Password</label>
    <input type="password" name="password" id="login-password" data-field="password"></input>

    <input type="submit" value="Login"></input>
</form>
