<form id="signupForm" method="POST" action="/api/session/signup">
    
    <label for="email">Email</label>
    <input type="text" name="email" id="signup-email" data-field="email"></input>

    <label for="password">Password</label>
    <input type="password" name="password" id="signup-password" data-field="password"></input>

    <input type="submit" value="Sign Up!"></input>
</form>
